.splash{
    
}
.os{
    font-family: 'Oswald', sans-serif;
}
.do{
    font-family: 'Dosis', sans-serif;
}
.ro{
    font-family: 'Roboto', sans-serif;
}
.gametype{
    width:300px;
    font-family: 'Roboto', sans-serif;
    font-size:4em;
}
.title{
    font-family: 'Oswald', sans-serif;
    font-size:5em;
    padding-top:20px;
    color:white;
    padding-left:5em;
}
    
body {
    overflow-x:hidden;
}

.skew {
    -webkit-backface-visibility: hidden; 
    -webkit-transform: skew(5deg, 0);
    -moz-backface-visibility : hidden;
    -moz-transform: skew(5deg, 0);
    overflow: hidden;
    width:15em;
    height:25em;
    position: relative;
    left: 150px;
    margin-left:1em;
    border: 3px solid #111;
    box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
        
}
.skew img{
    position:relative;
    left:-25px;
    top:-25px;
    width:240px;
    
}
.skew2 {
    -webkit-backface-visibility: hidden; 
    -webkit-transform: skew(-5deg, 0);
    -moz-backface-visibility : hidden;
    -moz-transform: skew(-5deg, 0);
    overflow: hidden;
    width: 15em;
    height:25em;
    position: relative;
    left: 150px;
    margin-left:1em;
    border: 3px solid #111;
    box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
        
}
.skew2 img{
    position:relative;
    left:-20px;
    top:-25px;
    width:225px;
    
}
.team1 {
    margin-top:50px;
}

.versus {
    font-size:5em;
    color:white;
}
.bans{
    margin-left:200px;
}
.team1 .name{
    -webkit-backface-visibility: hidden; 
    -webkit-transform: skew(-5deg, 0);
    -moz-backface-visibility : hidden;
    -moz-transform: skew(-5deg, 0);
    margin-top:-160px;
    color:white;
    z-index:10;
    position:relative;
}
.team2 .name{
    -webkit-backface-visibility: hidden; 
    -webkit-transform: skew(5deg, 0);
    -moz-backface-visibility : hidden;
    -moz-transform: skew(5deg, 0);
    margin-top:-130px;
    color:white;
    z-index:10;
    position:relative;
}
.summoner{
    font-size:1.5em;
    text-align:center;
    padding-bottom:10px;
}
.champion{
    font-size:2em;
    text-transform:uppercase;
    text-align:center;
    width:auto;
}
.dim{
    background-color:rgba(0,0,0,0.7);
    height:400px;
    /*margin-top:-120px;*/
    margin-top:-390px;
    z-index:9;
    width:225px;
    margin-left:-20px;
    position:relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition:all 0.3s ease;
}
.dim:hover{
    margin-top:-390px;
    -webkit-transition: all 0.3s ease;
    -moz-transition:all 0.3s ease;
}
    
.time {
    font-size:5em;
    color:white;
    padding-left:250px;
    padding-top:20px;
}

.version {
    position:fixed;
    left: 20px;
    bottom:20px;
    font-size:2em;
    z-index:10;
    color:azure;
}
.banimg{
    width:100px;
    margin-bottom:30px;
}
.searchfield input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.searchbutton:visited {
    color: #222;
    border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
    background: #d79922 url("resources/images/lol-textures.jpg") no-repeat 50% -846px
}

.searchbutton:hover {
    color: #222;
    border-color: #fdeaba #bf712c #b66521 #edbd6e;
    background-position: 50% -878px
}

.searchbutton:active {
    color: #222;
    border-color: #e1b03d #7f3517 #772d16 #c17f30;
    background-position: 50% -911px
}
.searchbox {
	background-color:white;
	opacity: 50%;
}