.splash{
    
}

.gamemode{
    font-family: 'Oswald', sans-serif;
    font-size:5em;
    width:100%;
    padding-right:0px;
    margin-right:0px;
}
    
body {
    overflow:hidden;
}

.skew {
    -webkit-backface-visibility: hidden; /* the magic ingredient */
    -webkit-transform: skew(-16deg, 0);
    -moz-backface-visibility : hidden; /* the magic ingredient */
    -moz-transform: skew(-16deg, 0);
    overflow: hidden;
    width: 250px;
    height: 400px;;
    position: relative;
    left: 100px;
    margin-left:1em;
    border: 1px solid #666
}

.team1 {
    margin-top:0px;
}
