.splash{
    
}
.do{
    font-family: 'Dosis', sans-serif;
}
.title{
    font-family: 'Oswald', sans-serif;
    font-size:5em;
    width:100%;
    padding-top:20px;
    color:white;
}
    
body {
    overflow-x:hidden;
}

.skew {
    -webkit-backface-visibility: hidden; 
    -webkit-transform: skew(10deg, 0);
    -moz-backface-visibility : hidden;
    -moz-transform: skew(10deg, 0);
    overflow: hidden;
    width: 210px;
    height: 325px;;
    position: relative;
    left: 150px;
    margin-left:1em;
    border: 3px solid #111;
    box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
        
}
.skew img{
    position:relative;
    left:-25px;
    top:-20px;
    width:225px;
    
}
.skew2 {
    -webkit-backface-visibility: hidden; 
    -webkit-transform: skew(-10deg, 0);
    -moz-backface-visibility : hidden;
    -moz-transform: skew(-10deg, 0);
    overflow: hidden;
    width: 210px;
    height: 325px;;
    position: relative;
    left: 150px;
    margin-left:1em;
    border: 3px solid #111;
    box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
        
}
.skew2 img{
    position:relative;
    left:-25px;
    top:-20px;
    width:225px;
    
}
.team1 {
    margin-top:50px;
}

.versus {
    font-size:3em;
    color:white;
    margin-left:36%;
}
